<div class="container mt-5 d-flex justify-content-center">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a  class="h1"><b>Khaja</b>Ghar</a>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" >
      <div class=" mb-3">
        <div class="form-group">
        <label>UserName<span class="text-danger">*</span></label>
        <input
          formControlName="username"
          type="username"
          class="form-control"
          placeholder="Username"
        />
        <!-- <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div> -->
        <span
        *ngIf="
          submitted ||
          forms['username'].dirty ||
          (forms['username'].touched && forms['username'].invalid)
        "
        class="info-msg text-danger"
      >
        <small
          *ngIf="forms['username'].errors && forms['username'].errors?.['required']"
        >
         UserName is required
        </small>
        <!-- <small *ngIf="forms['userFirstName'].errors && forms['userFirstName'].errors?.['maxlength']"> name must be 10 character</small> -->
      </span>
    </div>
      </div>
      <div class=" mb-3">
        <div class="form-group">
        <label>Password<span class="text-danger">*</span></label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Password"
        />
        <!-- <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div> -->

        <span
        *ngIf="
          submitted ||
          forms['password'].dirty ||
          (forms['password'].touched && forms['password'].invalid)
        "
        class="info-msg text-danger"
      >
        <small
          *ngIf="forms['password'].errors && forms['password'].errors?.['required']"
        >
          Password is required
        </small>
        <!-- <small *ngIf="forms['userFirstName'].errors && forms['userFirstName'].errors?.['maxlength']"> name must be 10 character</small> -->
      </span>
    </div>
      </div>
      <!-- <div class="row"> -->
        <button
          type="submit"
          class="btn btn-primary"
          (click)="onSubmit(loginForm.value)"
        >
          Login
        </button>
        
        <button
          type="submit"
          class="btn btn-primary"
          (click)="onCancel()"
        >
          Back
        </button>
      <!-- </div> -->
      
    </form>

    </div>
  </div>
</div>



