<div class="container mt-3">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/src/assets/12.jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Samosa</h3>
             <p>Rs-40</p>
             <p>Available Date:2079/7/9</p>
              <a href="#" class="btn btn-primary">Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Samosa</h3>
             <p>Rs-40</p>
             <p>Available Date:2079/7/9</p>
              <a href="#" class="btn btn-primary">Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/src/assets/chowmin.jpg" >
            <div class="card-body">
              <h3 class="card-title">Samosa</h3>
             <p>Rs-40</p>
             <p>Available Date:2079/7/9</p>
              <a href="#" class="btn btn-primary">Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Samosa</h3>
             <p>Rs-40</p>
             <p>Available Date:2079/7/9</p>
              <a href="#" class="btn btn-primary">Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Samosa</h3>
             <p>Rs-40</p>
             <p>Available Date:2079/7/9</p>
              <a href="#" class="btn btn-primary">Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Samosa</h3>
             <p>Rs-40</p>
             <p>Available Date:2079/7/9</p>
              <a href="#" class="btn btn-primary">Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Samosa</h3>
             <p>Rs-40</p>
             <p>Available Date:2079/7/9</p>
              <a href="#" class="btn btn-primary">Order</a>
            </div>
          </div>    

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Samosa</h3>
             <p>Rs-40</p>
             <p>Available Date:2079/7/9</p>
              <a href="#" class="btn btn-primary">Order</a>
            </div>
          </div>
    </div>
</div>
