<div class="header-box px-2 d-flex justify-content-between">
    <h1 class="fs-4 my-4">
     <span routerLink="/khajaghar/client/home" class="text-white rounded shadow px-2 me-2"><b>KhajaGhar</b></span>
    </h1>
    <button class="btn d-md-none d-block close close-btn px-1 py-0 text-white">
      <i class="fal fa-stream"></i>
    </button>
  </div>
  
  <ul class="list-unstyled px-2">
    <li class="active"><a href="javascript:void(0);" class="text-decoration-none px-4 py-2 d-block"> <i class="fal fa-home"></i> Dashboard</a></li>
    <li class="" (click)="onUsers()" ><a href="javascript:void(0);" class="text-decoration-none px-4 py-2 d-block"> <i class="fal fa-user"></i> Users</a></li>
    <li class="" (click)="onItems()" ><a href="javascript:void(0);" class="text-decoration-none px-4 py-2 d-block"> <i class="fal fa-university"></i> Items</a></li>
    <li class="" (click)="onOrderedItems()"><a href="javascript:void(0);" class="text-decoration-none px-4 py-2 d-block"> <i class="fal fa-users"></i> Item Orderd</a></li>
    <li class="" ><a href="javascript:void(0);" class="text-decoration-none px-4 py-2 d-block"> <i class="fal fa-users"></i> Profile</a></li>
  </ul>
  